@media (width <= 860px) {
  .header,
  .navbar {
    background-color: rgba(230, 230, 230, 1);
  }
  .toggle-btns,
  .menu-bar {
    display: block;
  }
  .show .menu-bar {
    display: none;
  }
  .show .cancel-btn {
    display: block;
  }
  .navbar {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 7rem;
    right: 0%;
    width: 0%;
    height: calc(100vh - 7rem);
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
  }



  .show .navbar {
    width: 50%;
  }

  .navbar a {
    white-space: nowrap;
    justify-content: start;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (width <= 530px) {
  body {
    padding: 0 1rem 0 4rem;
  }
  ol > li {
    font-size: 1.8rem;
  }

  .question,
  .answer {
    padding: 1rem;
  }

  .show .navbar {
    width: 70%;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (width <= 360px) {
  .show .navbar {
    width: 90%;
  }
}
