/*!====== base styling  ======*/
@font-face {
  font-family: "jost";
  src: url(./Jost-Regular.ttf);
}

:root {
  --mainColor1: Rgb(233, 233, 233);
  --mainColor2: Rgb(211, 209, 211);
  --lightBg: rgba(200, 200, 200, 0.1);
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 4rem;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "jost";
  text-transform: capitalize;
  line-height: 3rem;
}

/*!====== reuseable code ======*/

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}
.al-center {
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.dir-col {
  flex-direction: column;
}

.txt-center {
  text-align: center;
}

.d-none {
  display: none;
}

.p-relative {
  position: relative;
}
.p-absolute {
  content: "";
  position: absolute;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.main-container {
  margin-top: 10rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.br-radius-6 {
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.transition-2 {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

/*!====== header styling starts ======*/
.header {
  background-color: var(--mainColor2);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 7rem;
  padding: 0 3rem;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 80%;
  background: transparent;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

/*?=== main navbar toggle btns ===*/

.toggle-btns {
  font-size: 2rem;
  cursor: pointer;
}

.navbar {
  height: 100%;
}

/*?=== anchors which are in navbar ===*/

:is(.navbar, .link-cover) > :is(a, span) {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-block: none;
  border-right: none;
}

:is(.navbar, .link-cover) > :is(a, span) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

a,
span {
  height: 100%;
  color: #000;
  font-size: 2rem;
  padding: 0 2rem;
}

/*?=== anchor which toggles submenu  ===*/

.link-cover > :is(a, span) {
  width: 10rem;
  padding: 0 1rem;
}

/*?=== plus & minus btn which are in toggle anchor  ===*/

.link-cover > :is(a, span) > .toggle-btns,
.subMenu-cover > .toggle-btns {
  font-size: 1.4rem;
}
:is(.showSubMenu, .showMenu > :is(a, span)) .toggle-btns .fa-plus {
  display: none;
}

:is(.showSubMenu, .showMenu > :is(a, span)) .toggle-btns .fa-minus {
  display: block;
}

.subMenu-cover > .toggle-btns{
  background-color: var(--mainColor2);
  height: 100%;
  padding: 0 1rem;
}
.subMenu-cover:hover > .toggle-btns{
  background-color: var(--mainColor1);
}

/*?=== website subMenu  ===*/

:is(.web-subMenu, .mob-subMenu) {
  top: 100%;
  right: 0;
  background-color: var(--mainColor1);
  overflow: hidden;
  height: 0%;
}

.showMenu :is(.web-subMenu, .mob-subMenu) {
  height: 45rem;
}

/*?=== subMenu anchor's parent  ===*/

:is(.web-subMenu, .mob-subMenu) > .subMenu-cover {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.7rem 2rem;
  gap: 4rem;
}
:is(.web-subMenu, .mob-subMenu) .subMenu-cover:hover {
  background-color: var(--mainColor2);
}

/*?=== anchors present in subMenus ===*/

:is(.web-subMenu, .mob-subMenu) a {
  white-space: nowrap;
  padding: 0;
}

/*?=== subMenu Items styling ===*/

/*?=== mobile subMenu ===*/

.mob-subMenu {
  background-color: var(--mainColor2);
}

/*!====== main content styling  ======*/

ol > li {
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: var(--mainColor2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.question {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--mainColor1);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.question,
.answer {
  height: 100%;
  padding: 1rem 2rem;
}

.answer,
ul > li {
  font-size: 1.6rem;
}

.answer span {
  font-size: 1.7rem;
  font-weight: bold;
}

ul > li {
  padding: 0.5rem 2rem;
  list-style-position: inside;
  list-style-type: decimal;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
ul > li:last-child {
  padding-bottom: 1rem;
}
